<form action="/report">
  <label for="year">First name:</label><br>
  <input type="text" id="year" name="year" value="John"><br>
  <label for="season">Last name:</label><br>
  <input type="text" id="season" name="season" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form> 